<div
  class={{concat
    "tooltipper"
    (if this.isLoading " tooltipper--loading")
    (if this.shouldRenderTooltip " tooltipper--has-tooltip")
  }}
  aria-describedby={{if this.shouldRenderTooltip (concat "tooltip-" this.id)}}
  id={{concat "tooltipper-" this.id}}
  ...attributes
  {{this.tooltipperLifecycle}}
  {{this.handleUpdatedArguments
    @showTooltip
    @position
    @referenceElement
    @mouseEvents
  }}
>
  {{~yield this.tooltipperAPI~}}

  {{! template-lint-disable no-inline-styles }}
  {{~#if this.shouldRenderTooltip~}}
    <@Tooltip
      class={{concat
        "tooltip"
        " tooltip--"
        (if this.shouldShowTooltip "showing" "hiding")
        " tooltip--"
        (if this.tooltipPosition this.tooltipPositionClass "unpositioned")
      }}
      id={{concat "tooltip-" this.id}}
      style={{this.tooltipStyle}}
      role="tooltip"
      aria-live="polite"
      @tooltip={{this.tooltipAPI}}
      {{this.tooltipLifecycle}}
      {{on "mouseenter" this.handleMouseEnterTooltip}}
      {{on "mouseleave" this.handleMouseLeaveTooltip}}
      {{on "animationend" this.handleAnimatedTooltip}}
    />
  {{~/if~}}
</div>