<div
  class="tooltipper"
  aria-busy="{{this.isLoading}}"
  aria-describedby={{if this.hasTooltip (concat "tooltip-" this.id)}}
  data-has-tooltip="{{this.hasTooltip}}"
  id={{concat "tooltipper-" this.id}}
  ...attributes
  {{did-insert this.handleInsertTooltipper}}
  {{did-update
    this.handleUpdatedArguments
    @showTooltip
    @position
    @referenceElement
    @mouseEvents
  }}
  {{will-destroy this.handleDestroyTooltipper}}
>
  {{~yield this.tooltipperAPI~}}

  {{! template-lint-disable no-inline-styles }}
  {{~#if this.shouldRenderTooltip~}}
    {{~#let (component this.TooltipComponent) as |Tooltip|~}}
      <Tooltip
        class="tooltip"
        data-showing="{{this.shouldShowTooltip}}"
        data-position={{if
          this.tooltipPosition
          this.tooltipPositionClass
          "unpositioned"
        }}
        data-sticky="{{this.isSticky}}"
        id={{concat "tooltip-" this.id}}
        style={{this.tooltipStyle}}
        role="tooltip"
        aria-live="polite"
        @tooltip={{this.tooltipAPI}}
        {{did-insert this.handleInsertTooltip}}
        {{will-destroy this.handleDestroyTooltip}}
        {{on "mouseenter" this.handleMouseEnterTooltip}}
        {{on "mouseleave" this.handleMouseLeaveTooltip}}
      />
    {{~/let~}}
  {{~/if~}}
</div>