<span
  class="__tooltip__"
  hidden
  {{did-insert this.handleInsertElement}}
  {{did-update
    this.handleUpdatedArguments
    @columns
    @element
    @position
    @destination
    @attachTo
    @rows
    @show
  }}
  {{will-destroy this.handleDestroyElement}}
></span>
{{~#if this.shouldRenderTooltip~}}
  {{~#in-element this.destinationElement insertBefore=null~}}
    <div
      class="tooltip"
      data-showing="{{this.shouldShowTooltip}}"
      data-position={{this.tooltipPosition}}
      data-sticky="{{this.isSticky}}"
      id={{this.tooltipId}}
      style={{this.tooltipStyle}}
      role="tooltip"
      aria-live="polite"
      {{did-insert this.handleInsertTooltip}}
      {{will-destroy this.handleDestroyTooltip}}
      {{on "mouseenter" this.handleMouseEnterTooltip}}
      {{on "mouseleave" this.handleMouseLeaveTooltip}}
      ...attributes
    >
      {{~yield this.api~}}
    </div>
  {{~/in-element~}}
{{/if}}