<div
  {{did-insert (action "didInsertTooltipper")}}
  {{will-destroy (action "willDestroyTooltipper")}}
  class={{concat
    "tooltipper"
    (if this.isLoading " is-loading")
    (if this.renderTooltip " has-tooltip")
  }}
  aria-describedby={{concat "tooltip-" this.id}}
  id={{concat "tooltipper-" this.id}}
  ...attributes>

  {{~yield (hash
    isLoading=this.isLoading
    showTooltip=(action "showTooltip")
    hideTooltip=(action "hideTooltip")
    toggleTooltip=(action "toggleTooltip")
  )~}}

  {{~#if this.renderTooltip~}}
    <this.tooltipComponent
      {{did-insert (action "didInsertTooltip")}}
      {{did-update (action "didUpdateTooltip")}}
      {{will-destroy (action "willDestroyTooltip")}}
      {{on "mouseenter" (action "onMouseEnterTooltip")}}
      {{on "mouseleave" (action "onMouseLeaveTooltip")}}
      class={{concat
        "tooltip"
        " is-" (if this.isShowingTooltip "showing" "hiding")
        " is-" (if this.coords.position this.tooltipPosition "unpositioned")
      }}
      id={{concat "tooltip-" this.id}}
      style={{this.tooltipStyle}}
      role="tooltip"
      @hide={{action "hideTooltip"}}
      @data={{this.loadedData}}
      @error={{this.loadError}} />
  {{~/if~}}
</div>