<div
  {{did-insert (action "didInsertElement")}}
  {{will-destroy (action "willDestroyElement")}}
  class={{concat
    "tooltipper"
    (if this.isLoading " is-loading")
    (if this.renderTooltip " has-tooltip")
  }}
  ...attributes>
  {{yield (hash
    isLoading=this.isLoading
    showTooltip=(action "showTooltip")
    hideTooltip=(action "hideTooltip")
    toggleTooltip=(action "toggleTooltip")
  )}}

  {{#if this.renderTooltip}}
    <Tooltip
      {{will-destroy (action "willDestroyTooltip")}}
      {{on "mouseenter" (action "onMouseEnterTooltip")}}
      {{on "mouseleave" (action "onMouseLeaveTooltip")}}
      @component={{@tooltip}}
      @referenceElement={{this.referenceElement}}
      @_onInit={{action "onInitTooltip"}}
      @_onHide={{action "onHideTooltip"}} />
  {{/if}}
</div>