<div
  {{did-insert this.handleInsertTooltipper}}
  {{will-destroy this.handleDestroyTooltipper}}
  class={{concat
    "tooltipper"
    (if this.isLoading " tooltipper--loading")
    (if this.renderTooltip " tooltipper--has-tooltip")
  }}
  aria-describedby={{concat "tooltip-" this.id}}
  id={{concat "tooltipper-" this.id}}
  ...attributes>

  {{~yield (hash
    isLoading=this.isLoading
    showTooltip=this.__showTooltip
    hideTooltip=this.hideTooltip
    toggleTooltip=this.toggleTooltip
  )~}}

  {{~#if this.renderTooltip~}}
    {{! template-lint-disable no-inline-styles }}
    <this.tooltipComponent
      {{did-insert this.handleInsertTooltip}}
      {{did-update this.handleUpdateTooltip}}
      {{will-destroy this.handleDestroyTooltip}}
      {{on "mouseenter" this.handleMouseEnterTooltip}}
      {{on "mouseleave" this.handleMouseLeaveTooltip}}
      class={{concat
        "tooltip"
        " tooltip--" (if this.isShowingTooltip "showing" "hiding")
        " tooltip--" (if this.coords.position this.tooltipPosition "unpositioned")
      }}
      id={{concat "tooltip-" this.id}}
      style={{this.tooltipStyle}}
      role="tooltip"
      @hide={{this.hideTooltip}}
      @data={{this.loadedData}}
      @error={{this.loadError}} />
  {{~/if~}}
</div>