<div class="controls">
  <label class="control">
    Position
    <select onchange={{action "setPosition" value="target.value"}} class="position">
      <option value="">Auto</option>
      <option value="N">North</option>
      <option value="NE">North East</option>
      <option value="E">East</option>
      <option value="SE">South East</option>
      <option value="S">South</option>
      <option value="SW">South West</option>
      <option value="W">West</option>
      <option value="NW">North West</option>
    </select>
  </label>

  <label class="control">
    <input type="checkbox" onclick={{action "setTranslateX" value="target.checked"}}>
    Translate X
  </label>

  <label class="control">
    Columns <input type="number" min="2" class="number-input columns" value={{columns}} oninput={{action "setColumns" value="target.value"}}>
  </label>

  <label class="control">
    Rows <input type="number" min="2" class="number-input rows" value={{rows}} oninput={{action "setRows" value="target.value"}}>
  </label>

  <span class="control">
    <label> Hover delay <input type="number" min="1" class="number-input hover-delay" title="In" value={{showDelay}} oninput={{action "setShowDelay" value="target.value"}}></label><input type="number" min="1" class="number-input hover-delay" title="Out" value={{hideDelay}} oninput={{action "setHideDelay" value="target.value"}}>
  </span>

  <label class="control">
    Load delay <input type="number" min="1" class="number-input load-delay" value={{loadDelay}} oninput={{action "setLoadDelay" value="target.value"}}>
  </label>

  <a href="#" {{action "rerender"}}>Rerender</a>
</div>

<table class="grid">
  <tbody>
    <tr class="row">
      <td class="cell nw"></td>
      <td class="cell n"></td>
      <td class="cell ne"></td>
    </tr>
    <tr class="row">
      <td class="cell w"></td>
      {{! template-lint-disable inline-styles }}
      <td class="cell c" style={{boundaryStyles}}></td>
      <td class="cell e"></td>
    </tr>
    <tr class="row">
      <td class="cell sw"></td>
      <td class="cell s"></td>
      <td class="cell se"></td>
    </tr>
  </tbody>
</table>

{{#if showTooltipper}}
  {{#tool-tipper
    tabindex=-1
    draggable=true
    drag=(action "storeLastCoord")
    dragEnd=(action "reposition")
    onLoad=(action "load")
    showDelay=showDelay
    hideDelay=hideDelay
    tooltip=(component "tool-tip"
      text="Hello World"
      position=position
      columns=columns
      rows=rows
    )}}
    Hover over me
  {{/tool-tipper}}
{{/if}}

{{render-active-tooltips}}

{{outlet}}