<p>
  The total possible delay is
  {{this.totalPossibleDelay}}ms.
  <span class={{if this.isLazy "strike"}}>
    The addon saves
    {{this.timeSaved}}ms</span>, resulting in a total delay of
  {{this.totalDelay}}ms.<br />
  <span class={{if this.isLazy "strike"}}>
    This is because the actual show delay is reduced to
    {{this.actualShowDelay}}ms.
  </span>
</p>

<form>
  <p>
    <label>
      <input
        type="checkbox"
        checked={{this.isEager}}
        {{on "click" this.setEager}}
      />
      Eager
    </label>
  </p>
  <p>
    <label>
      <input
        type="text"
        value={{this.showDelay}}
        size="4"
        {{on "input" this.setShowDelay}}
      />
      Show delay
    </label>
  </p>
  <p>
    <label>
      <input
        type="text"
        value={{this.hideDelay}}
        size="4"
        {{on "input" this.setHideDelay}}
      />
      Hide delay
    </label>
  </p>
  <p>
    <label>
      <input
        type="text"
        value={{this.loadDuration}}
        size="4"
        {{on "input" this.setLoadDuration}}
      />
      Load duration
    </label>
  </p>
  <p>
    <button
      type="button"
      disabled={{if this.isLoaded false true}}
      {{on "click" this.unload}}
    >
      Unload
    </button>
  </p>
</form>

{{#if this.showTooltipper}}
  <div>
    Hover over me

    {{#if this.showLoading}}
      (Loading...)
    {{/if}}

    <Tooltip
      @onLoad={{this.load}}
      @eager={{this.isEager}}
      @showDelay={{this.showDelay}}
      @hideDelay={{this.hideDelay}}
      @position="bottom center"
      as |tooltip|
    >
      {{#if tooltip.data}}
        {{tooltip.data.message}}
      {{else}}
        Loading...
      {{/if}}
    </Tooltip>
  </div>
{{/if}}