<p>
  Showing and hiding a tooltipper without mouse enter/leave events
</p>

<Tooltipper
  @tooltip={{component "tooltip" text="Hello World"}}
  @position="bottom left"
  @mouseEvents={{false}} as |tooltipper|
>
  <button type="button" {{on "click" tooltipper.toggleTooltip}}>
    Click me
  </button>
</Tooltipper>

<br />
<br />
<br />

<Tooltipper
  @tooltip={{component "tooltip" text="Hello World"}}
  @position="bottom left"
  @mouseEvents={{false}} as |tooltipper|
>
  <input
    type="text"
    placeholder="Focus me"
    {{on "focus" tooltipper.showTooltip}}
    {{on "blur" tooltipper.hideTooltip}}
  />
</Tooltipper>