<div class="controls">
  <label class="control">
    Position
    <select onchange={{action "setPosition" value="target.value"}} class="position">
      <option value="">auto</option>
      <option>top left</option>
      <option>top center</option>
      <option>top right</option>
      <option>right middle</option>
      <option>right top</option>
      <option>right bottom</option>
      <option>bottom right</option>
      <option>bottom center</option>
      <option>bottom left</option>
      <option>left middle</option>
      <option>left top</option>
      <option>left bottom</option>
    </select>
  </label>

  <span class="control">
    <label> Hover delay <input type="number" min="1" class="number-input hover-delay" title="In" value={{this.showDelay}} oninput={{action "setShowDelay" value="target.value"}}></label><input type="number" min="1" class="number-input hover-delay" title="Out" value={{this.hideDelay}} oninput={{action "setHideDelay" value="target.value"}}>
  </span>

  <label class="control">
    Load delay <input type="number" min="1" class="number-input load-delay" value={{this.loadDelay}} oninput={{action "setLoadDelay" value="target.value"}}>
  </label>

  <small><a href="#" {{action "unload"}}>Unload</a></small>
</div>

<table class="grid">
  <tbody>
    <tr class="row">
      <td class="cell">top left</td>
      <td class="cell">top center</td>
      <td class="cell">top right</td>
    </tr>
    <tr class="row">
      <td class="cell">middle left</td>
      <td class="cell">middle center</td>
      <td class="cell">middle right</td>
    </tr>
    <tr class="row">
      <td class="cell">bottom left</td>
      <td class="cell">bottom center</td>
      <td class="cell">bottom right</td>
    </tr>
  </tbody>
</table>

{{#if this.showTooltipper}}
  <ToolTipper
    draggable="true"
    @drag={{action "storeLastPos"}}
    @dragStart={{action "storeStartPos"}}
    @dragEnd={{action "reposition"}}
    @onLoad={{action "load"}}
    @showDelay={{this.showDelay}}
    @hideDelay={{this.hideDelay}}
    @tooltip={{component "tool-tip" text="Hello World" position=this.position}} as |tooltipper|>
    {{#if tooltipper.isLoading}}
      Loading…
    {{else}}
      Hello World!
    {{/if}}
  </ToolTipper>
{{/if}}