<div class="controls">
  <label class="control">
    Position
    <select class="position" {{on "change" this.setPosition}}>
      <option value="">
        auto
      </option>
      <option>
        top left
      </option>
      <option>
        top center
      </option>
      <option>
        top right
      </option>
      <option>
        right middle
      </option>
      <option>
        right top
      </option>
      <option>
        right bottom
      </option>
      <option>
        bottom right
      </option>
      <option>
        bottom center
      </option>
      <option>
        bottom left
      </option>
      <option>
        left middle
      </option>
      <option>
        left top
      </option>
      <option>
        left bottom
      </option>
    </select>
  </label>

  <label
    class="control adjust-label {{
      if this.adjustDisabled "adjust-label--disabled"
    }}"
    title="Adjust position if the tooltip does not fit in the viewport"
  >
    <input
      type="checkbox"
      disabled={{this.adjustDisabled}}
      {{on "click" this.setAdjust}}
    />
    Adjust
  </label>

  <span class="control">
    <label>
      Hover delay
      <input
        type="number"
        min="1"
        class="number-input hover-delay"
        title="In"
        value={{this.showDelay}}
        {{on "input" this.setShowDelay}}
      />
    </label>
    <input
      type="number"
      min="1"
      class="number-input hover-delay"
      title="Out"
      value={{this.hideDelay}}
      {{on "input" this.setHideDelay}}
    />
  </span>

  <label class="control">
    Load delay
    <input
      type="number"
      min="1"
      class="number-input load-delay"
      value={{this.loadDelay}}
      {{on "input" this.setLoadDelay}}
    />
  </label>

  <small>
    <a href="#" {{on "click" this.unload}}>
      Unload
    </a>
  </small>
</div>

<table class="grid">
  <tbody>
    <tr class="row">
      <td class="cell">
        top left
      </td>
      <td class="cell">
        top center
      </td>
      <td class="cell">
        top right
      </td>
    </tr>
    <tr class="row">
      <td class="cell">
        middle left
      </td>
      <td class="cell">
        middle center
      </td>
      <td class="cell">
        middle right
      </td>
    </tr>
    <tr class="row">
      <td class="cell">
        bottom left
      </td>
      <td class="cell">
        bottom center
      </td>
      <td class="cell">
        bottom right
      </td>
    </tr>
  </tbody>
</table>

{{#if this.showTooltipper}}
  <Tooltipper
    draggable="true"
    ondrag={{this.storeLastPos}}
    ondragstart={{this.storeStartPos}}
    ondragend={{this.reposition}}
    @onLoad={{this.load}}
    @showDelay={{this.showDelay}}
    @hideDelay={{this.hideDelay}}
    @position={{this.position}}
    @adjust={{this.adjust}}
    @tooltip={{component "tooltip" text="Hello World"}} as |tooltipper|
  >
    {{#if tooltipper.isLoading}}
      Loading…
    {{else}}
      Hello World!
    {{/if}}
  </Tooltipper>
{{/if}}