<p>
  Subsequent tooltips show delays are ignored
</p>

<Tooltipper
  @Tooltip={{component "tooltip" text="One"}}
  @position="bottom center"
  @showDelay={{1000}}
  @stickyID="some-identifier"
>
  One
</Tooltipper>

<Tooltipper
  @Tooltip={{component "tooltip" text="Two"}}
  @position="bottom center"
  @showDelay={{1000}}
  @stickyID="some-identifier"
>
  Two
</Tooltipper>

<Tooltipper
  @Tooltip={{component "tooltip" text="Three"}}
  @position="bottom center"
  @showDelay={{1000}}
  @stickyID="some-identifier"
>
  Three
</Tooltipper>

<Tooltipper
  @Tooltip={{component "tooltip" text="Four"}}
  @position="bottom center"
  @showDelay={{1000}}
  @stickyID="some-identifier"
>
  Four
</Tooltipper>

<Tooltipper
  @Tooltip={{component "tooltip" text="Five"}}
  @position="bottom center"
  @showDelay={{1000}}
  @stickyID="some-identifier"
>
  Five
</Tooltipper>